* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background: rgb(140, 76, 200);
  --fav: rgb(59, 59, 238);
  --nature: rgb(112, 192, 112);
}
body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: white;
  min-height: 100vh;
  position: relative;
  background: url(../images/istockphoto-1303237166-170667a.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header {
  background-color: purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  flex-wrap: wrap;
  height: 100px;
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
header h1 {
  display: inline-block;
  justify-content: flex-start;
  font-size: 40px;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 53%;
}
header nav ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  align-items: center;
  display: inline-block;
  margin-left: 25px;
}
h2 strong {
  display: inline-block;
  float: right;
  font-size: 75%;
  opacity: 0.75;
}
#aboutimg {
  max-height: 11%;
  max-width: 11%;
  border-radius: 3%;
  margin-top: 2%;
}

#preworkimg {
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  margin: 3%;
  max-height: 326px;
  max-width: 370px;
}

#footer {
  position: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: auto;
  background-color: grey;
}
#nav-links {
  font-size: smaller;
  /* margin-left: 10%; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.nav-a {
  color: white;
}
.comingsoon {
  height: 200px;
  width: 200px;
}
.card-box {
  margin: 0;
  /* display: grid;
  grid-template-columns: 50% 50% 50%; */
  justify-content: flex-start;
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-wrap: wrap;
  /* margin: 25%;
  flex-direction: reverse row;
  flex-wrap: wrap; */
}
.card-box:hover {
  cursor: grab;
  transform: rotate(30%);
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6%;
  padding: 6%;
  height: fit-content;
  width: fit-content;
}
.card a {
  max-height: 300px;
  max-width: 300px;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 2%;
  width: 100%;
}
.section h2 {
  font-size: 36px;
  border-right: double;
}
.card h3 {
  font-size: 20px;
  position: relative;
  top: 230px;
  left: 147px;
}
.section p {
  margin-left: 10%;
}
@media screen and (min-width: 768px) {
  .responsive {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .responsive {
    width: 100%;
  }
}
