* {
  box-sizing: border-box;
}
:root {
  background-color: rgb(140, 76, 200);
  --fav: rgb(59, 59, 238);
  --nature: rgb(112, 192, 112);
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  /* flex-wrap: wrap; */
}
header {
  background-color: var(--nature);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
header h1 {
  justify-content: flex-start;
  font-size: 40px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 40%;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  display: inline-block;
  margin-left: 100px;
}

#Aboutme {
  display: flex;
  align-items: ;
}
#work {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#contactme {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.card {
  font-size: smaller;
}
.section {
  margin: 10% 20% 0% 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  list-style-type: none;
}
#footer {
  /* list-style-type: none; */
  float: left;
  width: 100%;
}
img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
.section h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.section h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

@media screen and (in-width: 760px) {
  .responsive {
    width: 100%;
  }
}
