* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* created outline for body content to all be formated the same */
body {
  min-height: 100vh;
  background: url("../images/galaxy-bg.png");
  background-size: cover;
  background-attachment: fixed;
  color: aliceblue;
  font-size: larger;
}

a {
  color: aliceblue;
}
/* controls header  */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
}
/* tells me where in the header the name will go */
header h1 {
  margin-left: 2%;
  padding: 10px;
}
/* tells me where in the header my nav bar will go */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 53%;
}
.navbar ul {
  list-style-type: none;
  justify-content: center;
  align-items: flex-end;
}
.navbar ul li {
  align-items: center;
  display: inline-block;
  margin-left: 25px;
  color: aliceblue;
}
/* tells subtitle what to do and where to go */
h2 strong {
  display: inline-block;
  font-size: 75%;
  opacity: 0.75;
}
/* controls what my about me photo does */
#aboutimg {
  max-height: 11%;
  max-width: 11%;
  border-radius: 3%;
  margin-top: 2%;
}

/* what all the cards of work experiences is bodied */
.card-box {
  padding: 10px;
  justify-content: space-evenly;
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
}
.card h2 {
  display: flex;
  max-height: fit-content;
  max-width: 200px;
  min-width: 200px;
  padding: 5px;
  margin: 0;
  align-content: center;
  justify-content: center;
}
/* .card img:hover {
  box-shadow: inset 200px 0 0 0 black;
  border-style: solid;
} */
.card img {
  width: 300px;
  height: 200px;
}
#mostRecent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
#mostRecent a {
  width: 80%;
  height: 80%;
  min-width: 300px;
  font-style: none;
}
#mostRecent a img {
  height: 100%;
  width: 100%;
  min-width: 270px;
}
/* all section content to be structured this way */
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 2%;
}
/* section h2's to be formated this way */
.section h2 {
  display: flex;
  padding: 2% 4% 2% 10%;
  margin-right: 5%;
  max-width: 15%;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
/* paragrahs to have this margin  */
.section p {
  margin-left: 5%;
  max-width: 50%;
  padding: 10px;
}
/* controls footer  */
#footer {
  display: flex;
  /* bottom: 0; */
  flex-wrap: wrap;
  min-width: 100%;
  max-height: fit-content;
  align-items: center;
  /* justify-content: space-between; */

  /* top: auto; */
}
#footer h2 {
  display: flex;
  /* padding: 2% 4% 2% 4%%; */
  margin-right: 5%;
  max-width: 15%;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
.nav-links {
  display: flex;
  flex-wrap: wrap;
  min-width: 60%;
  justify-content: space-evenly;
}
/* how to make my screen responsive */
@media screen and (min-width: 768px) {
  .responsive {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .responsive {
    width: 100%;
  }
}
